@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Mundial de Rusia 2018</h2>
</div>

<div class="row">
    <h3>Ordenar partidos por fechas</h3>
    <p><a href="/Partido/Index" class="btn btn-primary btn-lg">Ir&raquo;</a></p>

    <h3>Ordenar partidos por No. de partido</h3>
    <p><a href="/Partidono/Index" class="btn btn-primary btn-lg">Ir&raquo;</a></p>
</div>